{% extends "base.html" %}

{% block title %}Customers{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Customer Booking Status</h1>

    <!-- Passengers Table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users.Booked %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.username }}</td>
                <td>Booked</td>
            </tr>
            {% endfor %}
            {% for user in users.NotBooked %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.username }}</td>
                <td>NotBooked</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
